<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EPG</title>
</head>
<body>

    <div>
        <h3>Relação </h3>

        <div class="info">

            <div class="aoVivoPrograma">
                <p>AO VIVO: <%= programacaoAtual %></p>
            </div>

        </div>

        <div class="resultado">

            <table>
                <tr class="cabecalhoPrograma">
                    <th>Nome Programa</th>
                    <th>Descrição</th>
                    <th class="thHoraInicio">Hora início</th>
                    <th class="thHoraFim">Hora fim</th>
                </tr>

                <% api.forEach(item =>{ %>
                    <tr>
                    <td class="nomePrograma"><%= item.program.name %></td>
                    <td class="descricaoPrograma"><%= item.description %></td>
                    <td class="horarioInicioPrograma">
                        <%= new Date(item.start_time * 1000).getHours() %>:<%= new Date(item.start_time * 1000).getMinutes() %>
                    </td>
                    <td class="horarioFimPrograma">
                        <%= new Date(item.end_time * 1000).getHours() %>:<%= new Date(item.end_time * 1000).getMinutes() %>
                    </td>
                    </tr>
                <%}) %>

            </table>

        </div>
    </div>
     
</body>
</html>